/* Everything */
:root {
  /* colors */
  --greenrgb: 10, 158, 88;
  --green: rgb(var(--greenrgb));
  --liverrgb: 102, 78, 76;
  --liver: rgb(var(--liverrgb));
  --flaxrgb: 226, 213, 139;
  --flax: rgb(var(--flaxrgb));
  --champagnergb: 255, 220, 160;
  --champagne: rgb(var(--champagnergb));
  --apricotrgb: 250, 210, 280;
  --apricot: rgb(var(--apricotrgb));
  /* lengths */
  --navh: 10rem;
  --navfs: 1.7rem;
}

* {
  padding: 0;
  margin: 0;
}

#sign-in-google {
  position: fixed;
  z-index: 2;
  top: calc(var(--navh) / 2);
  left: 100%;
  transform: translate(calc(-100% - var(--navh) / 2), -50%);
}