/* Slider */
/* slider area */
.slider-container {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* slider */
.slider {
  list-style: none;
  display: block;
  overflow: hidden;
}

/* slider images (slides) */
.slider>img {
  position: absolute;
  float: left;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(70%);
}

/* title and subtitle */
.title-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* title */
.title {
  font-size: 5rem;
  margin: 1rem;
  font-family: 'Bungee', cursive;
  display: block;
  text-transform: uppercase;
}

/* subtitle */
.subtitle {
  font-size: 2rem;
  margin: 1rem;
  font-family: 'Merienda One', cursive;
  display: block;
  text-transform: capitalize;
}

.slider-arrow {
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.left-arr {
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%);
}

.right-arr {
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%) rotate(180deg);
}

