/* Everything */
:root {
  /* colors */
  --greenrgb: 10, 158, 88;
  --green: rgb(var(--greenrgb));
  --liverrgb: 102, 78, 76;
  --liver: rgb(var(--liverrgb));
  --flaxrgb: 226, 213, 139;
  --flax: rgb(var(--flaxrgb));
  --champagnergb: 255, 220, 160;
  --champagne: rgb(var(--champagnergb));
  --apricotrgb: 250, 210, 280;
  --apricot: rgb(var(--apricotrgb));
  /* lengths */
  --navh: 6rem;
  --navfs: 1.7rem;
  --datenavw: 15vw;
}

* {
  padding: 0;
  margin: 0;
}

/* Slider */
.slider-container {
  width: 100vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
  z-index: -100;
}

.slider {
  list-style: none;
  display: block;
}

.slider>img {
  position: absolute;
  float: left;
  z-index: -100;
  width: 100vw;
  filter: brightness(70%);
}

/* Navigation Bar */
/* full bar */
.nav-bar {
  background: linear-gradient(rgba(0, 0, 0, 255), 20%, rgba(0, 0, 0, 0));
  position: fixed;
  width: 100vw;
}

/* list of options */
.nav-list {
  display: flex;
  list-style: none;
}

/* option divs */
.nav-option {
  padding: 0rem 2rem;
  height: var(--navh);
  font-size: var(--navfs);
  line-height: var(--navh);
  color: white;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-option:hover {
  color: var(--champagne);
}

/* selected option */
.selected {
  color: var(--champagne);
}

/* links for option divs */
.nav-list>li>a {
  text-decoration: none;
}