/* nav bar override */
.nav-bar {
    background: #346F4D;
    position: relative;
}

body {
    background-color: gray;
}

#announcements-div {
    width: 60vw;
    float:left;
    margin-left: 10vw;
}

#announcements-options-div {
    /* background-color: var(--liver); */
    border-bottom: 4px solid black;
    margin: 40px 0px 20px 0px;
    padding: 5px;
}

#announcements-post-div {
    background-color: var(--liver);
    margin: 40px 0px 20px 0px;
    padding: 5px;
    clear:both;
}
.post-post-button {
    clear:both;
    position:relative;
    float:right;
    width: auto;
    display: block;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
    background-color: var(--etonblue);
}

.post-content {
    background-color: var(--etonblue);
    outline: none;
}
#post-message {
    margin: 10px 10px 0px 10px;
}

#post-message-content-wrapper {
    padding: 5px 40px 0px 40px;
}

#announcements-options-div span {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* #refresh {
    background-color: var(--etonblue);
    cursor: pointer;
}

#post-button {
    background-color: var(--etonblue);
    cursor:pointer;
}
 */
/* #announcements-content-div {
    background-color: var(--flax);
}
 */
.message {
    display: flex;
    margin: 10px 10px;
    padding: 5px;
/*     background-color: var(--flax);
 */}

.smoltri {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid var(--champagne);
}

.message-content-wrapper {
    display: block;
    background-color: var(--champagne);
    padding: 5px 40px 10px 40px;
}
.message-content img {
    max-width: 500px;
    height: auto;
}
/* .message-user {
    background-color: var(--apricot);
} */
.message-username {
    text-decoration: underline;
}
.message-userat::before {
    content: "@"
}
.message-userat {
    color:#686868;
    font-style: italic;
}
.message-forum::before {
    content: " > "
}
.message-forum {
    color: black;
    font-weight: bold;
}
.message-time::before {
    content: " . "
}
.message-time {
    color:#686868;
}

.user-icon-wrapper {
    display: block;
    float:left;
    padding: 2px;
/*     background-color: var(--etonblue);
 */}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#side-div {
    display: block;
    float: right;
    background-color: var(--etonblue);
    width: 20vw;
    height:100vh;
    margin:0px;
}

#user-info-div {
    display: block;
    background-color: var(--apricot);
    width: 15vw;
    margin: 20px auto;
    padding: 20px;
    height: 20vh;
}
